<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>

     <nav >
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">store</i>Datastore</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="contact.hbs"><i class="material-icons">build</i></a></li>
        <li><a href="project.hbs"><i class="material-icons">call</i></a></li>
        <li><a href="button.hbs"><i class="material-icons">mail</i></a></li>
      </ul>
    </div>
  </nav>
  

    {{{ body }}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
   <script src="https://kit.fontawesome.com/498571d521.js" crossorigin="anonymous"></script>
</body>
</html>